<p>The number of responses {{answer.userResponseCount}}</p>
<table class="table table-hover">
    <thead>
        <tr>
            
            <th>Q1</th>
            <th>Q2</th>
            <th>Q3</th>
            <th>Q4</th>
            <th>Q5</th>
            <th>Q6</th>
            <th>Q7</th>
            <th>Q8</th>
            <th>Q9</th>
            <th>Q10</th>
            <th>Q11</th>
            <th>Q12</th>
            <th>Q13</th>
            <th>Q14</th>
            <th>Q15</th>
            <th>Q16</th>
            <th>Q17</th>
            <th>Q18</th>
        </tr>
    </thead>
    <tbody >
        <tr>
            <td >{{answer.ans1}}</td>
            <td>{{answer.ans2}}</td>
            <td>{{answer.ans3}}</td>
            <td>{{answer.ans4}}</td>
            <td>{{answer.ans5}}</td>
            <td>{{answer.ans6}}</td>
            <td>{{answer.ans7}}</td>
            <td>{{answer.ans8}}</td>
            <td>{{answer.ans9}}</td>
            <td>{{answer.ans10}}</td>
            <td>{{answer.ans11}}</td>
            <td>{{answer.ans12}}</td>
            <td>{{answer.ans13}}</td>
            <td>{{answer.ans14}}</td>
            <td>{{answer.ans15}}</td>
            <td>{{answer.ans16}}</td>
            <td>{{answer.ans17}}</td>
            <td>{{answer.ans18}}</td>
        </tr>
    </tbody>
</table>
